In [ ]:
pwd

In [1]:
path = "../../../data/cleaned/multi_var_wind_hourly_cleaned.csv"
required_columns = ['datetime', 'pressure', 'temperature', 'humidity', 'wind_speed', 'u', 'v']
dtype_cast = {'wind_speed': float}

In [2]:
import os
import sys

# Get the absolute path of the directory containing the notebook (ensemble)
# Then get the parent directory's parent (which is the project root: wind-forecast-benchmark)
project_root = os.path.abspath(os.path.join(os.getcwd(), '..', '..', '..'))

# Add the project root to the system path
if project_root not in sys.path:
    sys.path.insert(0, project_root)

In [3]:

# -----------------------------------------------------------------
# NOW you can import the module using the 'modules' path
# -----------------------------------------------------------------

from modules.preprocessing import (load_and_basic_clean,
                                    add_time_features,
                                    add_lag_and_rolling_features,
)

In [4]:
df_clean = load_and_basic_clean(path=path,
                                required_columns=required_columns,
                                sort_by='datetime',
                               dtype_cast=dtype_cast)

In [5]:
df_clean.head()

,datetime,pressure,temperature,humidity,wind_speed,u,v
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,0.100000,-0.022693,-0.047340
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,0.283333,-0.113825,0.011167
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,0.200000,-0.169286,-0.061781
3,2024-01-01 03:00:00,758.783333,-1.166667,58.666667,0.500000,0.142045,-0.397690
4,2024-01-01 04:00:00,759.000000,-1.483333,62.166667,0.966667,-0.512590,-0.609574

In [7]:
df_clean_3 = add_lag_and_rolling_features(
    df_clean,
    target_cols=["temperature", "wind_speed"],
    lags=[1, 2, 3],
    rolling_windows=[6, 12]
)

In [8]:
df_clean_3.head()

,datetime,pressure,temperature,humidity,wind_speed,u,v,temperature_lag_1,temperature_lag_2,temperature_lag_3,...,wind_speed_lag_2,wind_speed_lag_3,wind_speed_roll_mean_6,wind_speed_roll_std_6,wind_speed_roll_min_6,wind_speed_roll_max_6,wind_speed_roll_mean_12,wind_speed_roll_std_12,wind_speed_roll_min_12,wind_speed_roll_max_12
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,0.100000,-0.022693,-0.047340,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,0.283333,-0.113825,0.011167,-1.016667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,0.200000,-0.169286,-0.061781,-1.533333,-1.016667,NaN,...,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-01-01 03:00:00,758.783333,-1.166667,58.666667,0.500000,0.142045,-0.397690,-1.150000,-1.533333,-1.016667,...,0.283333,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-01-01 04:00:00,759.000000,-1.483333,62.166667,0.966667,-0.512590,-0.609574,-1.166667,-1.150000,-1.533333,...,0.200000,0.283333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
target_cols = ['pressure', 'temperature', 'humidity', 'u', 'v',]
df_clean = add_lag_and_rolling_features(df_clean, target_cols=target_cols)

In [ ]:
df_clean.head()