In [46]:
# import importlib
# import preprocessing

# # 1. Force reload the module from disk
# importlib.reload(preprocessing)

# # 2. Re-import the specific function from the reloaded module
# from preprocessing import add_lag_and_rolling_features

In [53]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
path = "../../../data/cleaned/multi_var_wind_hourly_cleaned.csv"
required_columns = ['datetime', 'pressure', 'temperature', 'humidity', 'wind_speed', 'u', 'v']
dtype_cast = {'wind_speed': float}

In [48]:
import os
import sys

# Get the absolute path of the directory containing the notebook (ensemble)
# Then get the parent directory's parent (which is the project root: wind-forecast-benchmark)
project_root = os.path.abspath(os.path.join(os.getcwd(), '..', '..', '..'))

# Add the project root to the system path
if project_root not in sys.path:
    sys.path.insert(0, project_root)

In [28]:
import pandas as pd
df = pd.read_csv(path)

In [29]:
df.head()

,datetime,pressure,temperature,humidity,wind_direction,wind_speed,u,v,wind_speed_reconstructed,pressure_24h
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,137.000000,0.100000,-0.022693,-0.047340,0.052498,758.466667
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,207.166667,0.283333,-0.113825,0.011167,0.114371,758.425000
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,63.000000,0.200000,-0.169286,-0.061781,0.180207,758.411111
3,2024-01-01 03:00:00,758.783333,-1.166667,58.666667,181.166667,0.500000,0.142045,-0.397690,0.422296,758.504167
4,2024-01-01 04:00:00,759.000000,-1.483333,62.166667,109.666667,0.966667,-0.512590,-0.609574,0.796448,758.603333

In [49]:

# -----------------------------------------------------------------
# NOW you can import the module using the 'modules' path
# -----------------------------------------------------------------

from modules.preprocessing import *

In [31]:
df_safe_read = safe_read_csv(path=path)

In [32]:
df_safe_read.head()

,datetime,pressure,temperature,humidity,wind_direction,wind_speed,u,v,wind_speed_reconstructed,pressure_24h
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,137.000000,0.100000,-0.022693,-0.047340,0.052498,758.466667
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,207.166667,0.283333,-0.113825,0.011167,0.114371,758.425000
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,63.000000,0.200000,-0.169286,-0.061781,0.180207,758.411111
3,2024-01-01 03:00:00,758.783333,-1.166667,58.666667,181.166667,0.500000,0.142045,-0.397690,0.422296,758.504167
4,2024-01-01 04:00:00,759.000000,-1.483333,62.166667,109.666667,0.966667,-0.512590,-0.609574,0.796448,758.603333

In [33]:
df_safe_read.columns

Index(['datetime', 'pressure', 'temperature', 'humidity', 'wind_direction',
       'wind_speed', 'u', 'v', 'wind_speed_reconstructed', 'pressure_24h'],
      dtype='object')

In [34]:
clmns = ['datetime', 'pressure', 'temperature', 'humidity',
       'wind_speed', 'u', 'v']

In [35]:
df_load_and_basic_clean = load_and_basic_clean(path=path, required_columns=clmns, sort_by='datetime')

INFO:modules.preprocessing:Loaded CSV from '../../../data/cleaned/multi_var_wind_hourly_cleaned.csv': 10329 rows, 10 columns
INFO:modules.preprocessing:Selected 7 required columns
INFO:modules.preprocessing:Sorted DataFrame by column 'datetime'
INFO:modules.preprocessing:Data loading and cleaning completed successfully

In [36]:
df_load_and_basic_clean = df_load_and_basic_clean[0]

In [37]:
df_load_and_basic_clean.head(3)

,datetime,pressure,temperature,humidity,wind_speed,u,v
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,0.100000,-0.022693,-0.047340
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,0.283333,-0.113825,0.011167
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,0.200000,-0.169286,-0.061781

In [38]:
df_add_time_features = add_time_features(df_load_and_basic_clean)

In [39]:
df_add_time_features.head(3)

,datetime,pressure,temperature,humidity,wind_speed,u,v,hour,month,day_of_week,hour_sin,hour_cos
0,2024-01-01 00:00:00,758.466667,-1.016667,62.166667,0.100000,-0.022693,-0.047340,0,1,0,0.000000,1.000000
1,2024-01-01 01:00:00,758.383333,-1.533333,64.000000,0.283333,-0.113825,0.011167,1,1,0,0.258819,0.965926
2,2024-01-01 02:00:00,758.383333,-1.150000,61.333333,0.200000,-0.169286,-0.061781,2,1,0,0.500000,0.866025

In [40]:
df_add_time_features.columns

Index(['datetime', 'pressure', 'temperature', 'humidity', 'wind_speed', 'u',
       'v', 'hour', 'month', 'day_of_week', 'hour_sin', 'hour_cos'],
      dtype='object')

In [41]:
physical_featurs = ['temperature', 'pressure', 'u', 'v', 'wind_speed']

In [50]:
df_add_lag_and_rolling_features = add_lag_and_rolling_features(df_add_time_features,target_cols=physical_featurs, lags=[1, 2, 3 ,6, 12 ,24], dropna=True)

In [52]:
df_add_lag_and_rolling_features.head(2)

,datetime,pressure,temperature,humidity,wind_speed,u,v,hour,month,day_of_week,...,wind_speed_roll_min_3,wind_speed_roll_max_3,wind_speed_roll_mean_6,wind_speed_roll_std_6,wind_speed_roll_min_6,wind_speed_roll_max_6,wind_speed_roll_mean_12,wind_speed_roll_std_12,wind_speed_roll_min_12,wind_speed_roll_max_12
24,2024-01-02 00:00:00,760.400000,-1.933333,89.166667,1.050000,-0.871871,-0.322368,0,1,1,...,0.333333,0.90,0.625000,0.289780,0.333333,1.00,1.093056,1.098195,0.183333,3.316667
25,2024-01-02 01:00:00,760.216667,-2.183333,89.666667,0.933333,-0.889509,-0.096850,1,1,1,...,0.716667,1.05,0.744444,0.293194,0.333333,1.05,0.904167,0.847221,0.183333,2.933333

In [54]:
df_add_lag_and_rolling_features.isnull().sum()

datetime                   0
pressure                   0
temperature                0
humidity                   0
wind_speed                 0
                          ..
wind_speed_roll_max_6      0
wind_speed_roll_mean_12    0
wind_speed_roll_std_12     0
wind_speed_roll_min_12     0
wind_speed_roll_max_12     0
Length: 102, dtype: int64

In [56]:
X_train, y_train, X_test, y_test, test_df = split_train_test(df_add_lag_and_rolling_features, target_col='wind_speed' )

In [57]:
X_train.columns

Index(['datetime', 'pressure', 'temperature', 'humidity', 'u', 'v', 'hour',
       'month', 'day_of_week', 'hour_sin',
       ...
       'wind_speed_roll_min_3', 'wind_speed_roll_max_3',
       'wind_speed_roll_mean_6', 'wind_speed_roll_std_6',
       'wind_speed_roll_min_6', 'wind_speed_roll_max_6',
       'wind_speed_roll_mean_12', 'wind_speed_roll_std_12',
       'wind_speed_roll_min_12', 'wind_speed_roll_max_12'],
      dtype='object', length=101)

In [58]:
y_train

24       1.050000
25       0.933333
26       0.700000
27       1.450000
28       1.750000
          ...
9604     6.266667
9605     2.183333
9606     7.266667
9607    11.850000
9608    11.450000
Name: wind_speed, Length: 9585, dtype: float64