In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics as m

In [2]:
wind_csv_path = "../data/cleaned/pincher_station_hourly_wind_cleaned.csv"
df = pd.read_csv(wind_csv_path)

In [3]:
df.head()

,timestamp,temp_c,rel_humidity,wind_speed_kmh,pressure_kpa,wind_dir_deg,timestamp_rounded,u,v,pressure_24h
0,2011-06-27 14:00:00,7.9,85.0,9.0,88.14,320.0,2011-06-27 14:00:00,5.785088,-6.894400,88.140000
1,2011-06-27 15:00:00,11.5,74.0,8.0,88.11,320.0,2011-06-27 15:00:00,5.142301,-6.128356,88.125000
2,2011-06-27 16:00:00,15.4,61.0,5.0,88.04,320.0,2011-06-27 16:00:00,3.213938,-3.830222,88.096667
3,2011-06-27 17:00:00,17.3,48.0,8.0,87.99,40.0,2011-06-27 17:00:00,-5.142301,-6.128356,88.070000
4,2011-06-27 18:00:00,18.4,47.0,15.0,87.93,120.0,2011-06-27 18:00:00,-12.990381,7.500000,88.042000

In [4]:
df.columns

Index(['timestamp', 'temp_c', 'rel_humidity', 'wind_speed_kmh', 'pressure_kpa',
       'wind_dir_deg', 'timestamp_rounded', 'u', 'v', 'pressure_24h'],
      dtype='object')

In [5]:
wind_hourly = df[['timestamp','wind_speed_kmh']]

In [11]:
wind_hourly.shape

(118474, 2)

In [6]:
wind_hourly.head()

             timestamp  wind_speed_kmh
0  2011-06-27 14:00:00             9.0
1  2011-06-27 15:00:00             8.0
2  2011-06-27 16:00:00             5.0
3  2011-06-27 17:00:00             8.0
4  2011-06-27 18:00:00            15.0

In [7]:
train = wind_hourly.iloc[:-720]
test = wind_hourly.iloc[-720:]

In [8]:
pred = test.wind_speed_kmh.shift(1).dropna()
obs = test.wind_speed_kmh[1:]

In [12]:
mae = m.mean_absolute_error(obs, pred)
rmse = np.sqrt(m.mean_squared_error(obs, pred))
mape = np.mean(np.abs((obs - pred)/obs))*100

In [13]:
 #--- OUTPUT THE RESULTS ---
print("--- Baseline Forecast Error Metrics ---")
print(f"Total Observations: {len(obs):,}")
print("-" * 35)
print(f"Mean Absolute Error (MAE):         {mae:.3f}")
print(f"Root Mean Squared Error (RMSE):    {rmse:.3f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape:.2f}%")
print("-" * 35)

--- Baseline Forecast Error Metrics ---
Total Observations: 719
-----------------------------------
Mean Absolute Error (MAE):         6.768
Root Mean Squared Error (RMSE):    9.778
Mean Absolute Percentage Error (MAPE): inf%
-----------------------------------